#heart {
  position: relative;
  width: 50px;
  height: 90px;
  animation: pulse 2s infinite;
}

#heart:before,
#heart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#text {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  animation: fadeinout 5s infinite;
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
